<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory> <!-- Interactions avec la BDD -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/Home_Drink</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">activ</property> 
		 <!-- <property name="hbm2ddl.auto">create</property>  -->
		
		<!-- Seront indiqués ici les fichiers de mapping -->
		<mapping class="bean.Boisson"/>
		<mapping class="bean.Biere"/>
		<mapping class="bean.Cocktail"/>
		<mapping class="bean.Coffret"/>
		<mapping class="bean.SansAlcool"/>
		<mapping class="bean.Shooter"/>
		<mapping class="bean.User"/>
		<mapping class="bean.Vins_Spiritueux"/>


	</session-factory>
</hibernate-configuration>