<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>BoissonServlet</servlet-name>
  	<display-name>BoissonServlet</display-name>
  	<description></description>
  	<servlet-class>servlet.BoissonServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Initialisation</servlet-name>
  	<display-name>Initialisation</display-name>
  	<description></description>
  	<servlet-class>servlet.Initialisation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConnexionServlet</servlet-name>
  	<display-name>ConnexionServlet</display-name>
  	<description></description>
  	<servlet-class>servlet.ConnexionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AccueilServlet</servlet-name>
  	<display-name>AccueilServlet</display-name>
  	<description></description>
  	<servlet-class>servlet.AccueilServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InscriptionServlet</servlet-name>
  	<display-name>InscriptionServlet</display-name>
  	<description></description>
  	<servlet-class>servlet.InscriptionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeconnexionServlet</servlet-name>
  	<display-name>DeconnexionServlet</display-name>
  	<description></description>
  	<servlet-class>servlet.DeconnexionServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PaiementServlet</servlet-name>
  	<display-name>PaiementServlet</display-name>
  	<description></description>
  	<servlet-class>servlet.PaiementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BoissonServlet</servlet-name>
  	<url-pattern>/BoissonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Initialisation</servlet-name>
  	<url-pattern>/Initialisation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConnexionServlet</servlet-name>
  	<url-pattern>/ConnexionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AccueilServlet</servlet-name>
  	<url-pattern>/AccueilServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InscriptionServlet</servlet-name>
  	<url-pattern>/InscriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeconnexionServlet</servlet-name>
  	<url-pattern>/DeconnexionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PaiementServlet</servlet-name>
  	<url-pattern>/PaiementServlet</url-pattern>
  </servlet-mapping>
</web-app>
